{% extends 'base.html'%} 
{% import 'macros.html' as macro%} 

{% block content %}

  <div class="row pt-3">
    <h3 style="font-size: 40px; color:black; text-align:center"><strong>BUSINESS NEWS</strong></h3>
    <div class="row">{{ macro. displaySourceList(business)}}</div>
  </div>

  <div class="row pt-3">
    <h3 style="font-size: 40px; color:black; text-align:center"><strong>ENTERTAINMENT NEWS</strong></h3>
<div class="row">{{ macro.displaySourceList(entertainment)}}</div>
  </div> 

	  <div class="row pt-3">
    <h3 style="font-size: 40px; color:black; text-align:center"><strong>HEALTH NEWS</strong></h3>
    <div class="row">{{ macro.displaySourceList(health)}}</div>
  </div>

	  <div class="row pt-3">
    <h3 style="font-size: 40px; color:black; text-align:center"><strong>SCIENCE NEWS</strong></h3>
    <div class="row">{{ macro.displaySourceList(science)}}</div>
  </div>

  <div class="row pt-3">
    <h3 style="font-size: 40px; color:black; text-align:center"><strong>SPORTS NEWS</strong></h3>
    <div class="row">{{ macro.displaySourceList(sports)}}</div>
  </div>

  <div class="row pt-3">
    <h3 style="font-size: 40px; color:black; text-align:center"><strong>TECHNOLOGY NEWS</strong></h3>
    <div class="row">{{ macro.displaySourceList(technology)}}</div>
  </div>
</div> 

{% endblock %} 